body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange{color: orange;}
section{
    display: flex;
}
.half-width{width: 50%;}
.half-width img{
    width: 80%;
}
.half-width{padding:5% 5% 0% 8%;}
.link-button{
    background-image: linear-gradient(orange, red);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700px;
    color: beige;
}
.top-banner{background-image: url(images/top-banner.png);
background-repeat: no-repeat;}
.half{width: 50%;
    padding: 5% 8%;}
.half img{width: 80%;}
.dream-big{background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}